.form-signin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .checkbox {
        font-weight: 400;
    }
    .form-floating {
        width: 310px;
        margin: 0 auto;
    }
    .form-floating:focus-within {
        z-index: 2;
    }
    button {
        width: 310px;
    }
}